
html,body {
    height:100%;
}
body{

    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color:#eee;
}

/*STYLE THE BLOCKS*/
.second{
    height:100%;
    width: 50%;
}
.image{
    width:100%;
}
.image img{
    width: 100%;
    min-height:auto;
    background-position: center;
    background-size: cover;
    padding: 5px;
}
.second-images{
    background-color: #eee;

}
article{
    padding: 10px;
    margin:5px;
    background-color:white;
}
